<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Baza" connectionString="Server=MS-SQL\ITIVITY,11111;DataBase=Tim4;User ID=domZdravlja_admin;Password=dom.123"
         providerName ="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>